# Rika device IP
IP=192.168.222.2

# Rika device user (ssh connection)
USER=root

# Rika device password (ssh connection)
PASSWRD=!C0vF3F3

# Collect dlog files for n previous days. All files are downloaded when fewer than 50 are available.
#
# DLOG_DAYS=0 -> collect all dlog files
# DLOG_DAYS=1 -> collect files from the latest date and one day before
# DLOG_DAYS=7 -> collect files from the latest date and seven days before
DLOG_DAYS=3
